services:
  postgres:
    image: postgres:17
    container_name: postgres_amine
    restart: always
    environment:
      POSTGRES_DB: amine_db
      POSTGRES_USER: amine_user
      POSTGRES_PASSWORD: amine_pass
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_amine
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres

volumes:
  pgdata:
